.featured-sec-home {
    padding: 50px 0px 100px 0px;
}

.featured-sec-home .titles-section {
    padding: 15px 80px ;
}

.featured-sec-home h2 {
    font-size: 28px;
    font-weight: bold;

}

.featured-sec-home .row-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    margin-bottom: 250px;

}

@media (min-width: 360px) and (max-width: 420px) {
    .featured-sec-home .titles-section h2 {
        font-size: 15px;
        width: 160px;
    }

    .featured-sec-home .titles-section {
      padding: 0;
    }
}