footer {
    background-color: var(--secondry-color);
}

footer .row1 {
    width: 100%;
    padding: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer .row1 .col1 p {
    width: 240px;
    font-size: 15px;
}

footer .row1 .col1 .icon {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    padding: 10px;
}

footer .row1 .col3 .box1 .p2,
footer .row1 .col3 .box2 .p2 {
    width: 200px;
    font-size: 15px;
}

footer .row1 .col12 a {
    font-size: 15px;
}

footer .row1 .col3 .box1 img,
footer .row1 .col3 .box2 img {
    object-fit: contain;
    margin-bottom: 20px;
}

footer .input-box {
    padding: 5px 8px;
    border: 1px solid #fff;
    border-radius: 3px;
    display: flex;

}

footer .input-box input {
    background-color: #fff;
    border: none;
}

footer .input-box .icon-arrow-send {

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;

}

footer .row1 .col4 .check {
    width: 15px;
    height: 15px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 6px;
    background-color: var(--secondry-color);

}

footer h6 {
    position: relative;
}

footer h6::after {
    content: "";
    display: block;
    margin: 3px 0px;
    width: 60px;
    height: 3px;
    position: absolute;
    top: 130%;
    background-image: linear-gradient(to right, #fff, #ffffff85, #ffffff42, #ffffff02);
}

footer .row2 {
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}


@media(min-width: 360px) and (max-width:576px) {
    footer .row1 {
        justify-content: start;
    }
}